<h1>Banco de Talentos</h1>
<p>Por favor realize seu cadastro:</p>

<div class="container">
  <div class="row box-cadastro">
    <div class="col-12">
      <h3 class="text-center">Você está prestes a se candidatar a nossas vagas</h3>
      <form class="mt-5" [formGroup]='candidateForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control cadastro" placeholder="Nome" formControlName='nome'>
        </div>
        <div class="form-group">
          <label for="ultimonome">Sobrenome</label>
          <input type="text" class="form-control cadastro" placeholder="Sobrenome" formControlName='ultimonome'  maxlength=50>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control cadastro" placeholder="E-mail" formControlName='email'>
        </div>
        <div class="form-group">
          <label for="skype">Skype</label>
          <input type="text" class="form-control cadastro" placeholder="Skype" formControlName='skype'>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="tel" class="form-control cadastro" placeholder="Telefone" formControlName='telefone'>
        </div>
        <div class="form-group">
          <label for="portfolio">Portfolio</label>
          <input type="text" class="form-control cadastro" placeholder="Portfolio" formControlName='portfolio'>
        </div>
        <div class="form-group">
          <label for="pretensao">Pretensão</label>
          <input type="text" class="form-control cadastro" placeholder="Pretensao" formControlName='pretensao'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control cadastro" placeholder="Password" formControlName='password'>
        </div>
        <div class="form-group">
          <label for="cidades">Cidade</label>
          <select class="custom-select" formControlName="cidades">
            <option value="" disabled>Escolha a cidade</option>
            <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{nome}}</option>
          </select>
        </div>
        <div class="form-group">
            <label for="estados">Estado</label>
          <select class="custom-select" formControlName="estados">
            <option value="" disabled>Escolha o estado</option>
            <option *ngFor="let estado of estados" [ngValue]="estado">{{name}}</option>
          </select>
        </div>
        <div class="form-group">
            <label class="field-label">Disponibilidade</label>
            <div class="flex-container">
              <div *ngFor="let disponibilidade of disponibilidades; let i=index;">
                <input type="checkbox" [formControl]="disponibilidade">
                {{candidato.disponibilidades[i].descricao}}
              </div>
            </div>
        </div>
        <div class="form-group">
            <label class="field-label">Horários</label>
            <div class="flex-container">
              <div *ngFor="let horario of horarios; let i=index;">
                <input type="checkbox" [formControl]="horario">
                {{candidato.horarios[i].descricao}}
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
      </form>
    </div>
  </div>
  <div class="col-12">
    <table class='table table-striped' *ngIf="candidatos">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Skype</th>
          <th>Telefone</th>
          <th>Pretensao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidato of candidatos">
          <td>{{ candidato.nome }}</td>
          <td>{{ candidato.email }}</td>
          <td>{{ candidato.skype }}</td>
          <td>{{ candidato.telefone }}</td>
          <td>{{ candidato.pretensao }}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>